body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    background-color: hsl(298, 40%, 51%);
}
#buttons button{
    border: none;
    font-size: 3rem;
    border-radius: 300px;
    background-color: hsla(180, 100%, 50%, 0.231);
    margin-bottom: 20px;
    cursor: pointer;
}
#buttons button:hover{
    background-color: hsla(180, 100%, 50%, 0.685);
}
#choises{
    border: 2px solid;
    border-radius: 25px;
    min-width: 350px;
}
#place{
    text-align: center;
    border: 3px solid;
    padding: 3px;
    border-radius: 25px;
    background-color: hsl(240, 41%, 59%);
}
#choises h1{
    margin-left: 5px;
}
.youWin{
    color:hsl(120, 56%, 48%);
}
.computerWin{
    color: hsl(0, 61%, 51%);
}
#result{
    border: 2px solid;
    border-radius: 25px;
    min-width: 350px;
}
#result h1{
    margin-left: 5px;
}
